*
{
    margin: 0;
    padding: 0;
}
.Full-Card-Container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    gap: 10px; 
    min-height: 95vh;
}
.G63
{
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../Mercedes_Card/image/g63.jpg);
    background-size:cover;
    background-position: center;    
}
.G63:hover
{
    width: 430px;
    transition: 1s;
}
.Coupe 
{
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../Mercedes_Card/image/Coupe.jpg);
    background-size: cover;
    background-position: center;
}
.Coupe:hover {
    width: 430px;
    transition: width 1.1s;
}
.Sedan 
{
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../Mercedes_Card/image/Sedan.jpg);
    background-size: cover;
    background-position: center;
}

.Sedan:hover 
{
    width: 430px;
    transition: width 1.1s;
}
.GT 
{
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../Mercedes_Card/image/GT.jpg);
    background-size: cover;
    background-position: center;
}

.GT:hover {
    width: 430px;
    transition: width 1.1s;
}
.Visoun-Gran {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../Mercedes_Card/image/Visoun_Gran.jpg);
    background-size: cover;
    background-position: center;
}

.Visoun-Gran:hover {
    width: 430px;
    transition: width 1.1s;
}